<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Nawill Stores | <%= title %> </title>
    <link rel="stylesheet" href="/src/style.css">
    <!-- Fontawesome CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Welcome to Nawill Online store">
    <meta content="Eccomerce, Online Store, Shopping" name="keywords">

   </head>

<body>
    <!-- Move to up button -->
    <div class="scroll-button">
        <a href="#home"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- navgaition menu -->
    <nav>
        <div class="navbar">
            <div class="logo"><a href="index.html">Nawill Stores</a></div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Products</a></li>
                <li><a href="#about">Login</a></li>
                <li><a href="/s">SignUp</a></li>
                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="media-icons">
                <!-- <a href="https://github.com/ushashir/"><i class="fab fa-github-f"></i></a> -->
                <a href="https://github.com/ushashir/"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/ushashir/"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/usha_shir"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/ushashir"><i class="fab fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCggoM2vJLpUE2U_UOak1a7w"><i class="fab fa-youtube"></i></a>
                <a href="instagram.com/ushahembashir/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    <!-- Shops Section Start -->
    <section class="services" id="services">
        <div class="content">
            <div class="title"><span>Sign Up Here</span></div>

<section class="vh-100" style="background-color: #eee;">
    <div class="container">
                      


    <h1>Add new product</h1>
    <p>Please fill the details below to add new product</p>
    <hr>

    <form class="mx-1 mx-md-4">
        <!-- product name name -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="productName">Product Name</label>
                <input type="text" id="productName" placeholder="Enter Product Name"
                    class="form-control" />
            </div>
        </div>
        <!-- Product image -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label>Select Image File:</label>
                <input type="file" name="image">
                <input type="submit" name="submit" value="Upload">
            </div>
        </div>
        <!-- brand -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="brand">Brand</label>
                <input type="text" id="brand" placeholder="Brand" class="form-control" />
            </div>
        </div>
        <!-- Category -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="category">Category</label>
                <input type="text" id="category" placeholder="Category"
                    class="form-control" />
            </div>
        </div>
        <!-- description -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="Description">Description</label>
                <input type="text" id="description" placeholder="Descripe Product"
                    class="form-control" />
            </div>
        </div>
        <!-- price -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="price">Price</label>
                <input type="number" id="price" placeholder="Price" class="form-control" />
            </div>
        </div>
        <!-- countInStock -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="countInStock">Count In Stock</label>
                <input type="number" id="countInStock" placeholder="Count In Stock"
                    class="form-control" />
            </div>
        </div>
        <!-- rating -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="rating">Rating</label>
                <input type="number" id="rating" placeholder="Rating"
                    class="form-control" />
            </div>
        </div>
        <!-- numReviews -->
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="numReviews">Reviews</label>
                <input type="number" id="numReviews" placeholder="Rating"
                    class="form-control" />
            </div>
        </div>

                    
    </div>
</section>

    </div>
    </div>
    </section>

    <!-- Contact Me section Start -->
    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title"><span>Contact Me</span></div>
            <div class="text">
                <div class="button">
                    <button> <a href="tel:+2349018515257">Call</a> </button>
                </div>
                or
                <div class="button">
                    <button> <a href="mailto:ushahembashir@gmail.com">Send me a Message</a> </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section Start -->

    <footer>
        <div class="text">
            <span>Nawill Stores| &#169; 2022 All Rights Reserved</span>
        </div>
    </footer>

    <script src="/src/script.js"></script>
</body>

</html>


