<%- includes('./header.ejseader') %> 

    <!-- Shops Section Start -->
    <section class="services" id="services">
    
        <h1>This is home page</h1>
    </section>


<%- includes('./footer.ejs') %>